html,
body {
  height: 100%;
  margin: 0;
  margin-top: 0;
  font-family: 'Indie Flower', cursive;
    background: rgba(255,255,255,0);
}

.container {
  display: flex;
  align-items: top;
  justify-content: center;
  height: 120%;
  padding: 0.25rem;
}

.heading {
  color: #5061e0;
  font-size: 400%;
  font-weight: 300;
}
