- var items = ['Home','L Associazione','Servizi', 'Formazione', 'Chi Siamo','Notizie', 'Dove Siamo', 'Servizi',  'Contattaci']

button.menu-toggle
nav
  ul.menu
    each item in items
      li(data-text=item)= item
      
      
